
.signup-main {
    display:flex;
    flex-direction: column;
}

.signup {
    display:flex;
    align-items:center;
    gap:.5rem;
    padding:.5rem;
}

.google {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px; 
    padding: 10px;
    width: 19vw; 
}
.divider {
    display: flex;

    align-items: center;
    
    position: relative;
    height: 2.5vw;
    margin-bottom: 1vw;
}
.divider-main{
   width: 20vw;
   margin: 0 10px;
   z-index: 0;
}
@media (max-width:600px) {
    .divider{
        width: 100%;
        margin-top: 1vw;
        margin-bottom: 4vw;
    }
    .divider-main{
        width: 100%;
    }
    .google {
        
        width:95%; 
        margin-bottom: 4vw;
        
    }
    
    .signup-main {
        margin-top: 2vw;
        flex-direction:block; 
    }
    
    .signup {
        
        margin-top: 4vw;
        font: 600;
        font-size: 6vw;
        justify-content:center; 
    }
    
    
}
